.footer{
  width: 100%;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  color: lightgray;
  background: rgba(0,0,0,.5);
  

.footer-container{
     padding: 10px;
     font-family: cursive;
     font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5rem;
    img{
      height: 60px;
      width: 80px;
      margin-right: 10px;
    }
}

@media (min-width: 768px) {
  .footer-container {
    font-size: 20px;
  }
}

}
